@import "tailwindcss";

:root {
  --background: #090909;
  --sidebar-background: #090909;
  --foreground: #fff;
  --nav-color: #d4d4d4;
  --nav-hover-color: #a4c2b2;
  --button-hover-background: #262626;
  --font-weight-bold: 700;
  --logo-hover-filter-color: #4f4c55;
  --logo-text-color: color-mix(in oklab, #fff 90%, transparent);
  --accent-color: #a4c2b2;
  --card-bg: #111;
  --card-border: #222;
  --card-hover-border: #333;
  --border-radius: 12px;
  --focus-ring-color: rgba(164, 194, 178, 0.5);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
  color: var(--foreground);
  text-decoration: none;
}
